[submodule "Umber/vendor/spdlog"]
	path = Umber/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Umber/vendor/GFLW"]
	path = Umber/vendor/GFLW
	url = https://github.com/wblanken/glfw
